extends layout
block content
    body.text-center
        div.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
            header.masthead.mb-auto
                div.inner
                    a.masthead-brand(href="/")
                        img(src="/images/Kicks_&_Frips.png" width=250 height=50)
                    nav.nav.nav-masthead.justify-content-center
                        a.nav-link(href="/") Accueil
                        a.nav-link(href="produit.html") Produits
                        a.nav-link(href="reseaux.html") Réseaux
            main.inner.cover(role="main")
                h1.cover-heading Kicks And Fripsh1
                p.lead Achat de sneakers et de vêtements neufs et de seconde mainp
                p.lead
                    a.btn.btn-lg.btn-secondary(href="https:www.vinted.frmember41582734-kicksandfrips") Page Vinted
            footer.mastfooot.mt-auto
                div.inner(style="color: white;") pKicks And Fripsp