extend layout
block content
        main.innver.cover(role="main")
                div.container
                    div.row
                        div.col-sm-6
                            div.card
                                img.card-img-top(src="airjordan1.jpg" alt="Card image cap")
                                div.card-body
                                    h5.card-title Air Jordan
                                    p.card-text Blah blah jmy connais pas en sneakers jsuis que le dev moi ptn... PAYEZ MOI !!!
                                    div.btn-toolbar(role="toolbar" aria-label="Toolbar with button groups") 
                                        div.btn-group.mr-2(role="group" aria-label="First group" style="margin-bottom: 10px;")
                                            button.btn.btn-primary(type="button") 40
                                            button.btn.btn-primary(type="button") 41
                                            button.btn.btn-primary(type="button") 42
                                            button.btn.btn-primary(type="button") 43
                                            a.btn.btn-primary(href="#") Cela mène nulle part
                        div.col-sm-6
                            div.card(style="width: 18rem; ")
                                img.card-img-top(src="airjordan1.jpg" alt="Card image cap")
                                div.card-body(style="background-color: #B4B4B4;")
                                    h5.card-title Air Jordan
                                    p.card-text Blah blah jmy connais pas en sneakers jsuis que le dev moi ptn... PAYEZ MOI !!!
                                    div.btn-toolbar(role="toolbar" aria-label="Toolbar with button groups")
                                        div.btn-group.mr-2(role="group" aria-label="First group" style="margin-bottom: 10px;")
                                            button.btn.btn-primary(type="button") 40
                                            button.btn.btn-primary(type="button") 41
                                            button.btn.btn-primary(type="button") 42
                                            button.btn.btn-primary(type="button") 43
                                            a.btn.btn-primary(href="#") Cela mène nulle part       
        footer.mastfooot.mt-auto
                div.inner(style="color: white;")
                    p Kicks And Frips