extend layout
block content
body class="text-center">
    div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    header class="masthead mb-auto">
        div class="inner">
            a class="masthead-brand" href="index.html">img src="Kicks%20&%20Frips.png" width=250 height=50>/a>
            nav class="nav nav-masthead justify-content-center">
                a class="nav-link" href="index.html">Accueil/a>
                a class="nav-link active" href="produit.html">Produits/a>
                a class="nav-link" href="reseaux.html">Réseaux/a>
            /nav>
        /div>
    /header>
        main role="main" class="inner cover">
            div class="container">
                div class="row">
                div class="col-sm-6">
                  div class="card">
                            img class="card-img-top" src="airjordan1.jpg" alt="Card image cap">
                            div class="card-body">
                                h5 class="card-title">Air Jordan/h5>
                                p class="card-text">Blah blah jmy connais pas en sneakers jsuis que le dev moi ptn... PAYEZ MOI !!!/p>
                                div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" >
                                    div class="btn-group mr-2 " role="group" aria-label="First group" style="margin-bottom: 10px;">
                                        button type="button" class="btn btn-primary disabled" >40/button>
                                        button type="button" class="btn btn-primary disabled">41/button>
                                        button type="button" class="btn btn-primary disabled">42/button>
                                        button type="button" class="btn btn-primary disabled">43/button>
                                    /div>
                                    /div>
                                a href="#" class="btn btn-primary">Cela mène nulle part/a>
                                /div>
                        /div>
                    /div>
                    div class="col-sm-6">
                        div class="card" style="width: 18rem; ">
                            img class="card-img-top" src="airjordan1.jpg" alt="Card image cap">
                            div class="card-body" style="background-color: #B4B4B4;">
                                h5 class="card-title">Air Jordan/h5>
                                p class="card-text">Blah blah jmy connais pas en sneakers jsuis que le dev moi ptn... PAYEZ MOI !!!/p>
                                    div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" >
                                    div class="btn-group mr-2 " role="group" aria-label="First group" style="margin-bottom: 10px;">
                                        button type="button" class="btn btn-primary disabled" >40/button>
                                        button type="button" class="btn btn-primary disabled">41/button>
                                        button type="button" class="btn btn-primary disabled">42/button>
                                        button type="button" class="btn btn-primary disabled">43/button>
                                    /div>
                                    /div>
                                a href="#" class="btn btn-primary">Cela mène nulle part/a>
                            /div>
                        /div>
                    /div>
                /div>
            /div>
        /main>
        
        footer class="mastfooot mt-auto">
            div class="inner" style="color: white;">
            p>Kicks And Frips/p>
            /div>
        /footer>
    /div>
/body>
/html>