extend layout
block content
body.class="text-center"
    div.class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"
        header.class="masthead mb-auto"
            div.class="inner"
                a.masthead-brand(href="index.html"img src="Kicks%20&%20Frips.png" width=250 height=50)
                nav.nav-masthead.justify-content-center
                    a.nav-link(href="index.html") Accueil
                    a.nav-link(href="produit.html") Produits
                    a.nav-link.active(href="reseaux.html") Réseaux
            main.inner.cover(role="main")
                div.card-group
                    div.card
                        img src="..." class="card-img-top" alt="..."
                        div.card-body
                            h5.card-title Instagram
                            p.card-textLe Compte Instagram pour vous sortir les teasers sur les derniers arrivages et les paires custom
                    div class="card"
                        img src="..." class="card-img-top" alt="..."
                        div class="card-body"
                            h5.card-title Vinted
                            p.card-text Le compte Vinted pour faire vos achats en attendant une vraie plateforme de paiement.
                    div.card
                        img.card-img-top src="..." alt="..."
                        div.card-body
                            h5.card-title Snapchat
                            p.card-text Le petit snapchat pour vous donner les derniers arrivages et les news sur les stocks  
        footer.mastfooot.mt-auto
            div.inner(style="color: white;")
            p Kicks And Frips
    div