extend layout
block content
body class="text-center"
    div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"
    header class="masthead mb-auto"
        div class="inner"
            a class="masthead-brand" href="index.html"img src="Kicks%20&%20Frips.png" width=250 height=50a
            nav class="nav nav-masthead justify-content-center"
                a class="nav-link" href="index.html"Accueila
                a class="nav-link" href="produit.html"Produitsa
                a class="nav-link active" href="reseaux.html"Réseauxa
            nav
        div
    header
        main role="main" class="inner cover"
            div class="card-group"
                div class="card"
                    img src="..." class="card-img-top" alt="..."
                    div class="card-body"
                        h5 class="card-title"Instagramh5
                        p class="card-text"Le compte Instagram pour vous sortir les teasers sur les derniers arrivages et les paires custom.p
                    div
                div
                div class="card"
                    img src="..." class="card-img-top" alt="..."
                    div class="card-body"
                        h5 class="card-title"Vintedh5
                        p class="card-text"Le compte Vinted pour faire vos achats en attendant une vraie plateforme de paiement.p
                    div
                div
                div class="card"
                    img src="..." class="card-img-top" alt="..."
                    div class="card-body"
                        h5 class="card-title"Snapchath5
                        p class="card-text"Le petit snapchat pour vous donner les derniers arrivages et les news sur les stocksp
                    div
                div
            div
        main
        
        footer class="mastfooot mt-auto"
            div class="inner" style="color: white;"
            pKicks And Fripsp
            div
        footer
    div
body
html