extend layout
block content
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <a class="masthead-brand" href="index.html"><img src="Kicks%20&%20Frips.png" width=250 height=50></a>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="index.html">Accueil</a>
                <a class="nav-link" href="produit.html">Produits</a>
                <a class="nav-link active" href="reseaux.html">Réseaux</a>
            </nav>
        </div>
    </header>
        <main role="main" class="inner cover">
            <div class="card-group">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Instagram</h5>
                        <p class="card-text">Le compte Instagram pour vous sortir les teasers sur les derniers arrivages et les paires custom.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Vinted</h5>
                        <p class="card-text">Le compte Vinted pour faire vos achats en attendant une vraie plateforme de paiement.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Snapchat</h5>
                        <p class="card-text">Le petit snapchat pour vous donner les derniers arrivages et les news sur les stocks</p>
                    </div>
                </div>
            </div>
        </main>
        
        <footer class="mastfooot mt-auto">
            <div class="inner" style="color: white;">
            <p>Kicks And Frips</p>
            </div>
        </footer>
    </div>
</body>
</html>